# ===========================
# Environment variables
# ===========================
.env

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo

# Pytest cache
.pytest_cache/

# Virtual Environment
.venv/
venv/

# ===========================
# Logs
# ===========================
logs/
*.log

# ===========================
# Screenshots
# ===========================
screenshots/

# ===========================
# Reports & Output
# ===========================
reports/
output/

# ===========================
# VS Code
# ===========================
.vscode/